
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    border: 1px solid black;
}
html{
    font-size: 62.5%;
}
.button{
    width:100%;
text-align: center;
font-family: 'Roboto Mono', monospace;
border-radius: 10px;
padding:5%;
font-size:1.75rem;

}
.button .plan{
    display: inline-block;
    background-color: #FF764E;
    color:white;
    width: 25%;
    border-radius: 10px;
    padding: 1%;
}
.button .learn{
    display: inline-block;
    background-color: #5ED3EB;
    color:white;
    width: 25%;
    border-radius: 10px;
    padding: 1%;

}
.button .get{
    background-color: #FFCD69;
    color:white;
    width: 25%;
    display: inline-block;
    border-radius: 10px;
    padding: 1.7%;

}
.logo{
    width:28%;
    display:inline-block;
    margin:2%;
  }
  .logo img{
    max-width:100%;
    border-radius:50%;
  }
  .promo{
    width:65%;
    display:inline-block;
    margin:1%;
  }
  .promo h1{
      text-align: center;
      padding:5%;
      font-size: 3rem;
      font-family: 'Chelsea Market', cursive;
  }
  .promo p{
      text-align: center;
      padding: 5%;
      font-size:1.5rem;
      font-family: 'Roboto Mono', monospace;
  }

.sect1{
    background-color: #DDB9A3;
    color:white;
    font-size:1.5rem;
    padding:4%;
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace; 
    font-size:1.5rem; 
    text-align: center;
}
.sect2 .icon{
    width:25%;
    margin: 0 auto;
    padding: 3%;

}
.sect2 .icon img{
    width:100%;
    margin: 0 auto;
    padding: 3%;

}
.sect2 .fyi{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 3%;
    font-family: 'Roboto Mono', monospace; 
    font-size:1rem;  

}
footer {
    background-color: #F9E7DC;
    
}
footer img{
    width:100%;
    height: 250px;
}